@import "tailwindcss";


.header_container {
  width: 100%;
  max-width: 1268px;
  padding-left: 16px;
  padding-right: 16px;
}
.container {
  width: 100%;
  max-width: 1328px;
  padding-left: 16px;
  padding-right: 16px;
}


.footer_container {
  width: 100%;
  max-width: 1180px;
  height: 240px;
}


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-laylo: red;
  --color-bg-py: blue;
}
